/* 1440px 이하 */
@media (max-width: 1440px) {

  /* main_container */
  h1 {
    font-size: clamp(5.1rem, 15vw, 21.6rem);
  }

  /* self_introduction_container */
  .self_introduction_content {
    width: 86%;
  }

  .space_block,
  .space_block_end {
    display: block;
  }

  .space_1 {
    width: 32rem;
  }

  .timer_img {
    display: none;
  }

  .space_2 {
    display: inline-block;
    width: 5rem;
    height: 6.4rem;
    background-color: transparent;
  }

  .space_3 {
    display: none;
  }

  .space_4 {
    display: inline-block;
    width: 2.4rem;
    height: 6.4rem;
    background-color: transparent;
  }

  .space_5 {
    display: inline-block;
    width: 15.2rem;
    height: 6.4rem;
    background-color: transparent;
  }

  .space_6 {
    display: inline-block;
    width: 52rem;
    background-color: transparent;
  }

  .space_7 {
    display: none;
  }

  .space_8 {
    width: 3rem;
  }

  .space_9 {
    display: inline-block;
    width: 45rem;
    height: 6.4rem;
    background-color: transparent;
  }

  /* about_container */
  .about_container {
    padding: 11rem 0;
  }

  .about_content {
    gap: 15rem;
  }

  .about_wrapper {
    gap: 10rem;
  }

  .title_text {
    padding-bottom: 2rem;
  }

  .sub_title_kr,
  .sub_title_en,
  .sub_text,
  .experience_box>ul>li,
  .lang_box>ul>li,
  .socials>li>a {
    font-size: 1.6rem;
  }

  /* plan_container */
  .plan_text {
    width: 124rem;
  }

  /* contact_container */
  .footer_group {
    width: 124rem;
  }
}


/* 1024px 이하 - 태블릿 가로 */
@media (max-width: 1024px) {

  /* main_container */
  .main_wrapper {
    padding: 0 5rem;
  }

  header {
    font-size: 1.2rem;
  }

  .menu_box {
    gap: 1.8rem;
  }

  #time {
    width: 8.3rem;
  }

  h1 {
    font-size: clamp(5.1rem, 15.82vw, 16.2rem);
  }

  .bottom_text_box,
  .bottom_text_box>p,
  .bottom_text_box>a {
    font-size: 1.2rem;
  }

  /* self_introduction_container */
  .self_introduction_container {
    padding: 10.6rem 0;
  }

  .self_introduction_content {
    width: 90%;
  }

  .space_block {
    display: block;
  }

  .space_block_end {
    display: none;
  }

  .en_introduction_box {
    font-size: 4.8rem;
  }

  .en_introduction_box>span>img {
    width: 4.8rem;
  }

  .space_1 {
    width: 17.3rem;
  }

  .timer_img {
    display: none;
  }

  .space_2 {
    display: inline-block;
    width: 1.9rem;
    height: 4.8rem;
    background-color: transparent;
  }

  .space_3 {
    display: none;
  }

  .space_4 {
    display: none;
  }

  .space_5 {
    display: none;
  }

  .space_6 {
    display: inline-block;
    width: 37rem;
    height: 4.8rem;
    background-color: transparent;
  }

  .space_7 {
    display: inline-block;
    width: 30.4rem;
    height: 4.8rem;
    background-color: transparent;
  }

  .space_8 {
    width: 19rem;
    height: 4.8rem;
  }

  .space_9 {
    display: none;
  }

  .kr_introduction_box {
    padding-top: 4rem;
    font-size: 2.4rem;
  }

  /* ani_text_container */
  .ani_text_container {
    gap: 16rem;
  }

  .ani_text {
    gap: 16rem;
    animation: text_ani 25s linear infinite;
    font-size: 3.6rem;
  }

  /* about_container */
  .about_container {
    padding: 12rem 0;
  }

  .about_content {
    gap: 9rem;
  }

  .profile_img_box {
    width: 20.7rem;
  }

  .profile_img_box>figure {
    padding-bottom: 1rem;
  }

  .profile_img_box>figure>img {
    width: 20.7rem;
  }

  .birth_box {
    padding-top: 0.8rem;
  }

  .name_box>p,
  .birth {
    font-size: 1.6rem;
  }

  .name_kr,
  .name_en,
  .birth_num {
    font-size: 1.2rem;
  }

  .about_wrapper {
    gap: 4rem;
  }

  .about {
    gap: 6rem;
  }

  .title_text {
    font-size: 3rem;
    padding-bottom: 1.6rem;
  }

  .sub_title_kr,
  .sub_title_en,
  .sub_text,
  .experience_box>ul>li,
  .lang_box>ul>li,
  .socials>li>a {
    font-size: 1.2rem;
  }

  .experience_box>ul>li,
  .lang_box>ul>li {
    margin-bottom: 1.2rem;
  }

  /* skill_container */
  .skill_container {
    gap: 6rem;
    padding: 6rem;
  }

  .skill_box {
    gap: 6rem;
  }

  .skill_box img {
    height: 6rem;
  }

  /* archive_container */
  .archive_wrapper {
    padding: 10rem 0;
  }

  .archive_content {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }

  .archive_img_box {
    width: 80%;
    height: 60rem;
  }

  .btn {
    width: 22%;
  }

  .text {
    font-size: 1.6rem;
  }

  /* plan_container */
  .plan_wrapper {
    gap: 4rem;
  }

  .ko {
    font-size: 2.2rem;
  }

  .plan_text {
    width: 92.4rem;
    height: 57rem;
  }

  #typewriter_container {
    font-size: 2.6rem;
  }

  /* contact_container */
  .footer_group {
    width: 92.4rem;
    margin: 10.5rem 5rem;
  }

  .footer_left_box>p {
    font-size: 3.4rem;
    margin-bottom: 1.2rem;
  }

  .footer_left_box>a {
    font-size: 4.6rem;
  }

  .link {
    gap: 5rem;
    margin-bottom: 6rem;
  }

  .footer_menu>li>a,
  .footer_socials>li>a,
  .footer_right_box>p {
    font-size: 1.2rem;
  }
}

/* 768px 이하 - 태블릿 세로 */
@media (max-width: 768px) {

  /* main_container */
  h1 {
    font-size: clamp(5.1rem, 15.32vw, 11.8rem);
  }

  /* self_introduction_container */
  .self_introduction_container {
    padding: 15.7rem 0;
  }

  .self_introduction_content {
    width: 88%;
  }

  .space_block_timer {
    display: block;
  }

  .space_1 {
    width: 3rem;
  }

  .space_2 {
    width: 19rem;
  }

  .space_5 {
    display: inline-block;
    width: 3.8rem;
  }

  .space_6 {
    width: 12rem;
  }

  .space_7 {
    display: none;
  }

  .space_8 {
    width: 10rem;
  }

  .space_9 {
    display: none;
  }

  .kr_introduction_box {
    padding-top: 8rem;
    font-size: 1.8rem;
  }

  /* about_container */
  .about_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile_img_box {
    display: flex;
    gap: 5rem;
    width: 100%;
  }

  .profile_img_box>figure {
    padding-bottom: 0;
  }

  .info_line {
    display: block;
    margin-bottom: 19.2rem;
  }

  .name_box>p,
  .birth {
    font-size: 2rem;
  }

  .name_kr,
  .name_en,
  .birth_num {
    font-size: 1.6rem;
  }

  .birth_box {
    padding-top: 1.6rem;
  }

  .about_wrapper {
    display: flex;
    gap: 14rem;
  }

  /* archive_container */
  .archive_wrapper>p {
    font-size: 2rem;
  }

  .archive_img_box {
    width: 85%;
    height: 80rem;
  }

  /* plan_container */
  .plan_text {
    width: 66.8rem;
    height: 57rem;
  }

  .footer_group {
    width: 66.8rem;
  }
}

/* 480px 이하 - 작은 모바일 */
@media (max-width: 480px) {

  /* main_container */
  .main_wrapper {
    padding: 0 3rem;
  }

  h1 {
    font-size: clamp(5.1rem, 15.42vw, 7.4rem);
  }

  header {
    font-size: 1rem;
  }

  header>nav {
    display: none;
  }

  .bottom_text_box,
  .bottom_text_box>p,
  .bottom_text_box>a {
    font-size: 1rem;
  }

  /* self_introduction_container */
  .self_introduction_container {
    padding: 10rem 0;
  }

  .self_introduction_content {
    width: 88%;
  }

  .space_block {
    display: block;
  }

  .space_block_end {
    display: none;
  }

  .en_introduction_box {
    font-size: 3rem;
  }

  .en_introduction_box>span>img {
    width: 3rem;
  }

  .space_1,
  .space_2,
  .space_3,
  .space_4,
  .space_5,
  .space_6,
  .space_7,
  .space_8,
  .space_9 {
    height: 3rem;
  }

  .space_2 {
    width: 12rem;
  }

  .space_6 {
    width: 8rem;
  }

  .space_7 {
    display: none;
  }

  .space_8 {
    display: none;
  }

  .space_9 {
    display: none;
  }

  .kr_introduction_box {
    padding-top: 6rem;
    font-size: 1.2rem;
  }

  /* about_container */
  .about_container {
    padding: 10rem 0;
  }

  .about_content {
    gap: 4rem;
  }

  .about_wrapper {
    flex-direction: column;
    gap: 4rem;
  }

  .about {
    gap: 4rem;
  }

  .profile_img_box>figure>img {
    width: 16rem;
  }

  .profile_img_box {
    gap: 4.5rem;
  }

  .info_line {
    width: 9.8rem;
    margin-bottom: 12.2rem;
  }

  .name_box>p,
  .birth {
    font-size: 1.4rem;
  }

  .name_kr,
  .name_en,
  .birth_num {
    font-size: 1rem;
  }

  .name_box,
  .birth_box {
    flex-direction: column;
    align-items: start;
    gap: 0.6rem;
  }

  .name_right {
    text-align: start;
  }

  /* skill_container */
  .skill_container {
    gap: 4rem;
    padding: 4rem;
  }

  .skill_box {
    gap: 4rem;
  }

  .skill_box img {
    height: 4rem;
  }

  /* archive_container */
  .archive_wrapper>p {
    font-size: 1.6rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .archive_img_box {
    width: 80%;
    height: 50rem;
  }

  .btn {
    width: 26%;
    font-size: 1.2rem;
  }

  /* plan_container */
  .plan_text {
    width: 90%;
    max-width: 42rem;
    height: 35.4rem;
  }

  .ko {
    font-size: 1.2rem;
  }

  #typewriter_container {
    font-size: 1.6rem;
  }

  /* contact_container */
  .footer_group {
    flex-direction: column;
    width: 42rem;
    gap: 5rem;
    margin: 5rem 3rem;
  }

  .footer_left_box>p {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
  }

  .footer_left_box>a {
    font-size: 4.2rem;
  }

  .footer_right_box {
    display: flex;
    justify-content: space-between;
  }

  .link {
    gap: 12rem;
    margin-bottom: 0;
  }

  .footer_menu>li>a,
  .footer_socials>li>a,
  .footer_right_box>p {
    font-size: 1rem;
  }

  .footer_menu {
    gap: 0.4rem;
  }

  .footer_socials>li {
    padding-bottom: 0.4rem;
  }

  .arrow {
    padding-left: 0.2rem;
  }

  .arrow>img {
    width: 0.8rem;
  }
}

/* 360px 이하 - 아주 작은 모바일 */
@media (max-width: 420px) {

  /* main_container */
  header {
    font-size: 0.8rem;
    padding: 2rem 0;
  }

  .bottom_text_box,
  .bottom_text_box>p,
  .bottom_text_box>a {
    font-size: 0.8rem;
  }

  .scroll_button>img {
    width: 1.2rem;
  }

  /* self_introduction_container */
  .self_introduction_container {
    padding: 8rem 0;
  }

  .self_introduction_content {
    width: 84%;
  }

  .en_introduction_box {
    font-size: 2rem;
  }

  .en_introduction_box>span>img {
    width: 2rem;
  }

  .kr_introduction_box {
    padding-top: 4rem;
    font-size: 0.8rem;
  }

  .space_1,
  .space_2,
  .space_3,
  .space_4,
  .space_5,
  .space_6,
  .space_7,
  .space_8,
  .space_9 {
    height: 2rem;
  }

  .space_1 {
    width: 1rem;
  }

  .space_2 {
    width: 10rem;
  }

  .space_5 {
    display: none;
  }

  .space_6 {
    width: 7rem;
  }

  /* ani_text_container */
  .ani_text_container {
    gap: 8rem;
    padding: 2.5rem 0;
  }

  .ani_text {
    gap: 8rem;
    animation: text_ani 16s linear infinite;
    font-size: 2.6rem;
  }

  /* about_container */
  .profile_img_box {
    gap: 2rem;
  }

  .profile_img_box>figure>img {
    width: 11rem;
  }

  .info_line {
    display: none;
  }

  .name_box,
  .birth_box {
    gap: 0.4rem;
  }

  .name_box>p,
  .birth {
    font-size: 1.2rem;
  }

  .name_kr,
  .name_en,
  .birth_num {
    font-size: 0.8rem;
  }

  .title_text {
    font-size: 2.4rem;
    padding-bottom: 1.2rem;
  }

  .sub_title_kr,
  .sub_title_en,
  .sub_text,
  .experience_box>ul>li,
  .lang_box>ul>li,
  .socials>li>a {
    font-size: 0.8rem;
  }

  .sub_text {
    padding-top: 0.4rem;
  }

  .arrow {
    padding-left: 0.2rem;
  }

  .arrow>img {
    width: 0.6rem;
  }

  /* archive_container */
  .archive_wrapper>p {
    font-size: 1.2rem;
  }

  .archive_img_box {
    width: 100%;
  }

  .text {
    font-size: 1rem;
  }

  .btn {
    width: 25%;
    font-size: 1rem;
  }

  /* plan_container */
  .plan_wrapper {
    gap: 2rem;
  }

  .plan_text {
    width: 30rem;
    height: 26.4rem;
  }

  .ko {
    font-size: 0.8rem;
  }

  #typewriter_container {
    font-size: 1.2rem;
  }

  /* contact_container */
  .footer_group {
    width: 29rem;
    margin: 5rem 3.5rem;
  }

  .footer_left_box>p {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .footer_left_box>a {
    font-size: 3rem;
  }

  .link {
    gap: 7.2rem;
  }

  .footer_menu>li>a,
  .footer_socials>li>a,
  .footer_right_box>p {
    font-size: 0.8rem;
  }

  .footer_menu {
    gap: 0.2rem;
  }

  .footer_socials>li {
    padding-bottom: 0.2rem;
  }

  .arrow {
    padding-left: 0.2rem;
  }

  .arrow>img {
    width: 0.6rem;
  }

  
}