@font-face {
    font-family: 'Extralight';
    src: url(../fonts/ClashDisplay-Extralight.ttf);
}

@font-face {
    font-family: 'Light';
    src: url(../fonts/ClashDisplay-Light.ttf);
}

@font-face {
    font-family: 'Medium';
    src: url(../fonts/ClashDisplay-Medium.ttf);
}

@font-face {
    font-family: 'Regular';
    src: url(../fonts/ClashDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Semibold';
    src: url(../fonts/ClashDisplay-Semibold.ttf);
}

@font-face {
    font-family: 'NotoSans-DemiLight';
    src: url(../fonts/NotoSans-DemiLight.otf);
}

@font-face {
    font-family: 'NotoSans-Medium';
    src: url(../fonts/NotoSans-Medium.otf);
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url(../fonts/NotoSans-Regular.otf);
}

@font-face {
    font-family: 'consolas';
    src: url(../fonts/consolas.ttf);
}

/* font 시작 */
span[lang="ko"] {
    font-family: 'NotoSans-Medium';
}

span[lang="en"] {
    font-family: 'Medium';
}
/* font 끝 */

html {
    font-size: 10px;
    cursor: none;
    scroll-behavior: smooth;
}

/* 스크롤바 */

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #050505;
}

::-webkit-scrollbar-thumb {
    background-color: #85FF3A;
    border-radius: 2.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #68d623;
}
/* 스크롤바 */

/* 마우스 커서 시작 */
.custom_cursor {
    position: fixed;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1);
    transition: background-color 0.2s ease, transform 0.15s ease;
    z-index: 9999;
}
/* 마우스 커서 끝 */

/* main_container 시작 */
.main_container {
    background-color: #050505;
    color: #85FF3A;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.main_wrapper {
    padding: 0 10rem;
    height: 100vh;
}

/* header 시작 */
header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 4rem 0;
}

header > p {
    font-family: 'Medium';
}

.menu_box {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu_btn {
    text-decoration: none;
    cursor: none;
    color: #ffffff;
    font-family: 'Regular';
    border: 1px solid transparent;
    position: relative;
    transition: 0.4s;
    padding-bottom: 0.4rem;
}
.menu_btn:hover {
    color: #85FF3A;
}

.menu_btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #85FF3A;
    transition: 0.4s;
}

.menu_btn:hover::after {
    width: 100%;
}

#time {
    font-family: 'Medium';
    width: 8.3rem;
    text-align: end;
}

/* header 끝 */

.main_content {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

h1 {
    font-family: 'Semibold';
    font-size: clamp(5.1rem, 15.625vw, 30rem);
    letter-spacing: -0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_text_box {
    font-size: 1.8rem;
}

.bottom_text_box>p {
    font-family: 'Medium';
    font-size: 1.6rem;
}

.bottom_text_box>a {
    text-decoration: none;
    color: #85FF3A;
    font-family: 'Regular';
    cursor: none;
    font-size: 1.6rem;
}

.scroll_button {
    cursor: none;
}

/* main_container 끝 */

/* self_introduction_container 시작 */
.self_introduction_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
    top: -40rem;
    z-index: 1;
    margin-bottom: -40rem;
}

.self_introduction_content {
    display: flex;
    justify-content: center;
    width: 85%;
}

.en_introduction_box {
    word-break: keep-all;
    font-family: 'Regular';
    font-size: 6.2rem;
    text-align: start;
    line-height: 1.2;
}

.space_block,
.space_block_end {
    display: none;
}

.space_1 {
    display: inline-block;
    width: 48rem;
    height: 6.4rem;
    background-color: transparent;
}

.space_2 {
    display: none;
}

.space_3 {
    display: inline-block;
    width: 6rem;
    height: 6.4rem;
    background-color: transparent;
}

.space_4 {
    display: none;
}

.space_5 {
    display: none;
}

.space_6 {
    display: inline-block;
    width: 13rem;
    height: 6.4rem;
    background-color: transparent;
}

.space_7 {
    display: none;
}

.space_8 {
    display: inline-block;
    width: 6rem;
    height: 6.4rem;
    background-color: transparent;
}

.space_9 {
    display: none;
}

.kr_introduction_box {
    font-family: 'NotoSans-Medium';
    font-size: 3rem;
    padding-top: 6rem;
}

/* self_introduction_container 끝 */

/* ani_text_container 시작 */
.ani_text_container {
    background-color: #85FF3A;
    display: flex;
    overflow: hidden;
    gap: 30rem;
    user-select: none;
    padding: 3rem 0;
}

.ani_text {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 30rem;
    min-width: 100%;
    animation: text_ani 25s linear infinite;
    font-size: 4.8rem;
    font-family: 'Semibold';
    letter-spacing: 2.4rem;
}


@keyframes text_ani {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

/* ani_text_container 끝 */

/* about_container 시작 */
.about_container {
    background-color: #050505;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.5rem 0;
}

.about_content {
    display: flex;
    align-items: center;
    gap: 22rem;
}

.profile_img_box {
    width: 26.7rem;
}

.profile_img_box>figure {
    padding-bottom: 1.5rem;
}

.info_line {
    display: none;
    width: 38rem;
    height: 0.2rem;
    background-color: #ffffff;
}

.name_box,
.birth_box {
    display: flex;
    justify-content: space-between;
}

.birth_box {
    align-items: center;
    padding-top: 1rem;
}

.name_right {
    text-align: end;
}

.name_box>p,
.birth {
    font-family: 'Medium';
    font-size: 2rem;
}

.name_kr {
    font-family: 'NotoSans-DemiLight';
    font-size: 1.6rem;
    padding-bottom: 0.1rem;
}

.name_en,
.birth_num {
    font-family: 'Regular';
    font-size: 1.6rem;
}

.about_wapper {
    display: flex;
    gap: 15rem;
}

.about {
    display: flex;
    flex-direction: column;
}

.title_text {
    font-family: 'Semibold';
    font-size: 4rem;
    padding-bottom: 3rem;
}

.sub_title_kr {
    font-family: 'NotoSans-DemiLight';
    font-size: 1.8rem;
}

.sub_title_en {
    font-family: 'Medium';
    font-size: 1.8rem;
}

.sub_text {
    font-family: 'Light';
    font-size: 1.8rem;
    padding-top: 0.6rem;
}

.experience_box>ul>li,
.lang_box>ul>li {
    margin-bottom: 1.8rem;
}

.socials>li {
    padding-bottom: 1.2rem;
}

.socials>li>a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Medium';
    font-size: 1.8rem;
    cursor: none;
}

.socials>li>a>span {
    padding-left: 0.4rem;
}

/* about_container 끝 */

/* skill_container 시작 */
.skill_container {
    background-color: #050505;
    display: flex;
    overflow: hidden;
    gap: 10rem;
    user-select: none;
    padding: 10rem;
}

.skill_box {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10rem;
    min-width: 100%;
    animation: scroll-x 25s linear infinite;
}

.skill_box img {
    height: 10rem;
    transition: all 0.3s ease;
}

.skill_box img:hover {
    scale: 1.2;
}

@keyframes scroll-x {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

to {
    transform: translateX(var(--scroll-end));
}

/* skill_container 끝 */

/* archive_container 시작 */
.archive_container {
    background-color: #050505;
}

.archive_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10.4rem 0 13.9rem 0;
    gap: 5rem;
}

.archive_wrapper>p {
    font-family: 'Regular';
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.archive_content {
    background-color: #050505;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    /* 마진 + 패딩 값으로 커진 콘텐츠를 자동으로 사이즈 조정하여 맞게함. */
    gap: 1rem;
    align-items: stretch;
}

.project {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Medium';
    margin-bottom: 0;
    color: #ffffff;
}

.archive_img_box {
    width: 40%;
    height: 70rem;
    background-color: rgb(197, 197, 197);
    background-size: cover;
    border: none;
}

/* 배경 이미지 설정 */
.archive_img_box:nth-child(1) {
    background: url(../img/강아지배경.jpg);
}

.archive_img_box:nth-child(2) {
    background: url(../img/강아지배경.jpg);
}

.archive_img_box:nth-child(3) {
    background: url(../img/강아지배경.jpg);
}

.archive_img_box:nth-child(4) {
    background: url(../img/강아지배경.jpg);
}

/* 배경 이미지 설정 */

.archive_img_box:hover {
    background-size: cover;
    flex-shrink: 0;
    transition: 0.6s;
}

.button_box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    gap: 2rem;
    transition: 0.2s;
}

.project_link {
    text-decoration: none;
    color: #050505;
}

.btn {
    width: 20%;
    padding: 1.5rem 2rem;
    background-color: #85FF3A;
    cursor: none;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    transition: background-color 0.3s;
    box-shadow: 0.2rem 0.2rem #020600;
}

.btn:hover {
    background-color: #6fe024;
}

.archive_img_box:hover .button_box {
    opacity: 1;
}

/* archive_container 끝 */

/* plan_container 시작 */
.plan_container {
    width: 100%;
    background-color: #121212;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 10rem 0;
}

.plan_text {
    width: 132rem;
    height: 79.2rem;
    font-family: 'consolas';
}

.line {
    display: block;
    white-space: pre-wrap;
    min-height: 1em;
}

.ko {
    font-family: 'NotoSans-Regular';
    font-size: 3.2rem;
}

#typewriter_container {
    font-size: 3.6rem;
}

/* 색상 코드 */
.neongreen {
    color: #85FF3A;
}

.deepblue {
    color: #2693EE;
}

.blue {
    color: #4FBCE9;
}

.lightblue {
    color: #9CDCFE;
}

.orange {
    color: #F0A180;
}

.pink {
    color: #FF3AFC;
}

.yellow {
    color: #FFC83A;
}

.white {
    color: #ffffff;
}

.lemon {
    color: #FFFBA4;
}

.mint {
    color: #51E2BF;
}

/* 색상 코드 */

/* 깜빡이는 커서 */
#cursor {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    animation: blink 1s steps(2, start) infinite;
    margin-left: 0.2rem;
    user-select: none;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/* plan_container 끝 */

/* contact_container 시작 */
.contact_container {
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_group {
    width: 172rem;
    display: flex;
    justify-content: space-between;
    margin: 14.8rem 0;
}

.footer_left_box > p {
    color: #ffffff;
    font-size: 4.8rem;
    font-family: 'Medium';
    margin-bottom: 1.6rem;
}

.footer_left_box > a {
    color: #85FF3A;
    text-decoration: none;
    font-size: 6.4rem;
    font-family: 'Light';
    cursor: none;
}

.link {
    display: flex;
    gap: 10rem;
    margin-bottom: 8.5rem;
}

.footer_right_box > p {
    color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Medium';
}

.footer_menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer_menu>li>a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Medium';
    font-size: 1.6rem;
    cursor: none;
}

.footer_socials>li {
    padding-bottom: 0.6rem;
}

.footer_socials>li>a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Medium';
    font-size: 1.6rem;
    cursor: none;
}

.footer_socials>li>a>span {
    padding-left: 0.4rem;
}

/* contact_container 끝 */