@font-face {
    font-family: 'Extralight';
    src: url(../fonts/ClashDisplay-Extralight.ttf);
}

@font-face {
    font-family: 'Light';
    src: url(../fonts/ClashDisplay-Light.ttf);
}

@font-face {
    font-family: 'Medium';
    src: url(../fonts/ClashDisplay-Medium.ttf);
}

@font-face {
    font-family: 'Regular';
    src: url(../fonts/ClashDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Semibold';
    src: url(../fonts/ClashDisplay-Semibold.ttf);
}

/* text_font */
p {
    font-family: 'Regular';
}

#time {
    font-family: 'Regular';
}
/* text_font */

html {
    font-size: 10px;
}

.main_container {
    background-color: #050505;
    color: #85FF3A;
    width: 100%;
    height: 100vh;
}

.wrapper {
    padding: 0 100px;
}

/* header 시작 */
header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-top: 40px;
}

.menu_box {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu_box > li > a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Light';
}
/* header 끝 */

/* main_content 시작 */

/* main_content 끝 */